html {
  font-size: 3em;
  background-color: #afaca8;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app,
h1,
li,
form,
input,
label,
.vue-js-switch#school-toggle {
  font-family: 'Source Sans Pro', sans-serif;
}

main,
header,
.red {
  box-shadow: 0 0 0.025rem rgba(0, 0, 0, 0.16),
    0 0.025rem 0.05rem rgba(0, 0, 0, 0.32);
}

header {
  width: 100%;
  z-index: 1;
  height: 1.5rem;
  background-color: #ffeed7;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0.5rem;
  background-color: #d0d4c0;
  width: 100%;
  height: 6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pumpkin {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  position: relative;
}

#pumpkin > div {
  width: 1.2rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #f4b042;
  position: absolute;
  top: 0.25rem;
  left: 0.125rem;
}

#pumpkin > div > div {
  box-sizing: border-box;
  width: 0.9rem;
  height: 1.1rem;
  border-radius: 100%;
  background-color: #f4b042;
  border: 0.05rem solid #ffeed7;
  position: absolute;
  top: -0.05rem;
  left: 0.15rem;
}

#pumpkin > div > div > div {
  box-sizing: border-box;
  width: 0.5rem;
  height: 1.05rem;
  border-radius: 100%;
  background-color: #f4b042;
  border: 0.05rem solid #ffeed7;
  position: absolute;
  top: -0.01rem;
  left: 0.15rem;
}

h1 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  display: inline;
}

#start-time-school-jurisdiction-container {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  padding: 0.1rem 0;
  line-height: 1;
}

li:before {
  content: '...';
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0.5rem 0;
}

form > p,
#toggle-button-container > p {
  font-size: 0.5rem;
}

.radio-form-container {
  display: flex;
  flex-direction: row;
}

form,
summary > ul,
#start-time-school-jurisdiction-container {
  width: 17rem;
  max-width: calc(100vw - 1rem);
  margin: 0 auto;
}

#start-time-form,
#jurisdiction-form {
  width: auto;
  margin: 0;
}

.start-time {
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  padding: 0 0 0 0.25rem;
  background-color: #eee;
  color: #000;
  width: 4.7rem;
  height: 1.5rem;
  transition: background-color 0.1s;
}

.red {
  background-color: #f97c7c;
}

.vue-js-switch {
  margin: auto;
}

.vue-js-switch#school-toggle {
  font-size: 1rem;
  position: absolute;
}

summary {
  width: 100%;
  height: calc(100vh - 7.5rem);
  overflow-y: auto;
}

summary > p {
  padding: 0 0.5rem;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  border-radius: 0rem;
  color: #000;
}

.container:first-of-type {
  border-radius: 1rem 0 0 1rem;
}

.container:last-of-type {
  border-radius: 0 1rem 1rem 0;
}

.container:hover {
  background-color: #ccc;
}

.selected {
  background-color: #f4b042;
  transition: background-color 0.1s;
}

.selected:hover {
  background-color: #f4b042;
}

.container input {
  position: absolute;
  opacity: 0;
}
