html {
  font-size: 3em;
  background-color: #afaca8;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app,
h1,
li,
form,
input,
label,
.vue-js-switch#school-toggle {
  font-family: 'Source Sans Pro', sans-serif;
}

main,
header,
.red {
  box-shadow: 0 0 0.025rem rgba(0, 0, 0, 0.16),
    0 0.025rem 0.05rem rgba(0, 0, 0, 0.32);
}

header {
  width: 100%;
  z-index: 1;
  height: 1.5rem;
  background-color: #ffeed7;
}

main {
  padding: 0.5rem;
  background-color: #d0d4c0;
  width: 100%;
  height: 9rem;
  box-sizing: border-box;
}

h1 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 0 0.5rem;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 0.1rem 0;
  line-height: 1;
}

li:before {
  content: '...';
}

form {
  display: flex;
  margin: auto;
}

form,
summary > ul,
#toggle-button-container {
  width: 21rem;
  max-width: calc(100vw - 1rem);
  margin: 0 auto;
}

input {
  font-size: 1rem;
  border-radius: 0.1rem;
  border: none;
  padding: 0 0 0 0.25rem;
  background-color: #eee;
}

input:hover {
  background-color: #ccc;
}

.red {
  background-color: #f97c7c;
}

#start-time-form {
  line-height: 1;
  margin: 0 auto 1rem auto;
}

.vue-js-switch {
  margin: auto;
}

.vue-js-switch#school-toggle {
  font-size: 1rem;
}

summary {
  width: 100%;
  height: calc(100vh - 10.5rem);
  overflow-y: auto;
}

summary > p {
  padding: 0 0.5rem;
  text-align: center;
}

/* Radio styling adapted from here: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.container {
  display: block;
  position: relative;
  padding: 0 0.5rem 0 1.5rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #f4b042;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 0.3125rem;
  left: 0.3125rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #fff;
}
