<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Pumpkin Time</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="./img/homescreen192.png">
  <link rel="icon" sizes="128x128" href="./img/homescreen128.png">
  <link rel="apple-touch-icon" sizes="128x128" href="./img/homescreen128.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="./img/homescreen128.png">
  <meta name="Description" content="A tool to calculate set restrictions for underage actors">
  <script type="text/javascript" src="./dist/main.js"></script>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#afaca8" />
</head>

<body>
  <div id="app">
    <header>
      <div id="pumpkin">
        <div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
      <h1>Pumpkin Time</h1>
    </header>
    <main>
      <form id="start-time-form">
        <p>Start time</p>
        <input type="time" class="start-time" id="start-time" v-model="startTime" v-bind:class="{ selected: startTime }" />
      </form>
      <div id="toggle-button-container">
        <p>School in session?</p>
        <div class="radio-form-container">
          <label class="container" for="inSession" v-bind:class="{ selected: school === 'inSession' }">
            <input name="school" type="radio" id="inSession" value="inSession" v-model="school"> Yes
          </label>
          <label class="container" for="notInSession" v-bind:class="{ selected: school === 'notInSession' }">
            <input name="school" type="radio" id="notInSession" value="notInSession" v-model="school"> No
          </label>
        </div>
      </div>
      <form class="radio" id="jurisdiction-form">
        <p>Jurisdiction</p>
        <div class="radio-form-container">
          <label class="container" for="ny" v-bind:class="{ selected: jurisdiction === 'ny' }">
            <input name="jurisdiction" type="radio" id="ny" value="ny" v-model="jurisdiction"> NY
          </label>
          <label class="container" for="ca" v-bind:class="{ selected: jurisdiction === 'ca' }">
            <input name="jurisdiction" type="radio" id="ca" value="ca" v-model="jurisdiction"> CA
          </label>
          <label class="container" for="sag" v-bind:class="{ selected: jurisdiction === 'sag' }">
            <input name="jurisdiction" type="radio" id="sag" value="sag" v-model="jurisdiction"> SAG
          </label>
        </div>
      </form>
      <form class="radio" id="age-form">
        <p>Age</p>
        <div class="radio-form-container">
          <label class="container" for="sixToEight" v-bind:class="{ selected: age === 'sixToEight' }">
            <input name="age" type="radio" id="sixToEight" value="sixToEight" v-model="age"> 6-8 years
          </label>
          <label class="container" for="nineToFifteen" v-bind:class="{ selected: age === 'nineToFifteen' }">
            <input name="age" type="radio" id="nineToFifteen" value="nineToFifteen" v-model="age"> 9-15 years
          </label>
          <label class="container" for="sixteenToSeventeen" v-bind:class="{ selected: age === 'sixteenToSeventeen' }">
            <input name="age" type="radio" id="sixteenToSeventeen" value="sixteenToSeventeen" v-model="age"> 16-17 years
          </label>
        </div>
      </form>
    </main>
    <summary v-if="maxWorkHrs && lunchTime && maxHrsOnSetTime && maxHrsOnSet ">
      <p>The actor...</p>
      <ul>
        <li>
          can work for a maximum of {{maxWorkHrs}} hours
        </li>
        <li>
          needs lunch at {{lunchTime}} (after 6 hours)
        </li>
        <li v-bind:class="{ red: isOnSetTooLong } ">
          can be on set until {{maxHrsOnSetTime}} (max. {{maxHrsOnSet}} hours)
        </li>
      </ul>
    </summary>
    <summary v-else>
      <p>Make your selections.</p>
    </summary>
  </div>
</body>

</html>